@{
    ViewBag.Title = "Gestionar web";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>@ViewBag.Title</h2>

    <div class="container-fluid">
        <p>Esta es la página del Administrador y del moderador.</p>
    </div>

