
<h2>Contactar</h2>

<address>
    Oscar Esplá<br />
    Agost, 03698<br />
    Alicante<br />
    000-000-000<br />
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:support@example.com">support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@example.com">marketing@example.com</a>
</address>