<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title> <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3"><img src="@Url.Content("~/Archivos/foto1.jpg")" /></div>
            <div class="col-sm-3"><img src="@Url.Content("~/Archivos/foto2.jpg")" /></div>
            <div class="col-sm-3"><img src="@Url.Content("~/Archivos/foto3.jpg")" /></div>
            <div class="col-sm-3"><img src="@Url.Content("~/Archivos/foto4.jpg")" /></div>

        </div>
    </div>

    <h2 class="registrate">¿Aún no estás registrado?</h2>
    <p class="unete">Únete a la comunidad de YoureOn</p>

    <input type="button" class="boton_registro" value="Registrarse" />


</body>
</html>