@model IEnumerable<MvcApplication1.Models.Contenido>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container-fluid">
    <div class="row">

        @foreach (var item in Model)
        {

            <div class="col-sm-3"><img height="200" width="200 " src="@Html.DisplayFor(modelItem => item.Ruta)" /></div>

        }

    </div>
</div>

@{
    if (!User.Identity.IsAuthenticated)
    {
        <h2 class="registrate">¿Aún no estás registrado?</h2>
        <p class="unete">Únete a la comunidad de YoureOn</p>
        <a href="/Account/Register"><input type="button" class="boton_registro" value="Registrarse" /></a>
    }
}
