@model YoureOnBootsTrap.Models.Usuario

<h2>Borrar usuario</h2>

<div>
    <p>¿Está seguro de que desea eliminar su cuenta de usuario?</p>
    <div class="form-actions no-color">
        <p class="btn btn-default">@Html.ActionLink("Aceptar", "Delete", new { email = ViewBag.Email })</p>
        <p class="btn btn-default">@Html.ActionLink("Cancelar", "Index")</p>
    </div>
</div>
